@{
    ViewBag.Title = "条码管理";
    Layout = "~/Views/Shared/_Layout_Non.cshtml";
}

<style type="text/css">
    #divForm .tbForm td {
        padding-left: 5px;
        padding-top:5px;
    }
</style>

<div class="easyui-layout" fit="true">
    <div region="center">
        <div id="dgList"></div>
    </div>
</div>
<div id="divQuery" style="padding:5px;height:auto">
    <table id="tbQuery">
        <tr>
            <td>
                条码：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_Barcode" style="width: 120px;" />
            </td>
            <td>
                批次码：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_PackSN" style="width: 120px;" />
            </td>
            <td class="td-query-title">
                创建日期：
            </td>
            <td>
                <input type="text" class="easyui-datebox" id="Q_CreatedTimeStart" style="width:100px;" maxlength="50" />
                ~ <input type="text" class="easyui-datebox" id="Q_CreatedTimeEnd" style="width: 100px;" maxlength="50" />
            </td>
            <td style="padding-left:10px; padding-bottom:5px" colspan="2">
                <a id="btnQuery" class="easyui-linkbutton" iconcls="icon-search">查询</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a id="btnImport" class="easyui-linkbutton" iconcls="icon-excel" plain="true">导入</a>
                @*<a id="btnExport" class="easyui-linkbutton" iconcls="icon-excel" plain="true">导出</a>*@
            </td>
        </tr>
    </table>
</div>

<link href="/Scripts/artDialog4.1/skins/best.css" rel="stylesheet" />
<script src="/Scripts/artDialog4.1/artDialog.js"></script>
<script src="/Scripts/artDialog4.1/plugins/iframeTools.js"></script>
<script src="/Scripts/Common/common_search.js?v=4"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnQuery").click(function () {      
            PageListObj.queryList();
        })

        $("#btnImport").click(function () { importData(); })
        var date = new Date();
        $("#Q_CreatedTimeStart").datebox("setValue", date.formatStr("yyyy-MM-dd"));
        $("#Q_CreatedTimeEnd").datebox("setValue", date.formatStr("yyyy-MM-dd"));

        initGrid();
    });

    //初始化Grid
    function initGrid() {
        var cols = [[
               { field: 'Barcode', title: '条码', width: 200, align: 'center' },
               { field: 'PackSN', title: '批次码', width: 200, align: 'center' },
               { field: 'Creater', title: '创建人', width: 100},
               { field: 'Show_CreatedTime', title: '创建时间', width: 150 }
        ]];

        //设置动态列
        PageListObj.GridProperties = {
            columns: cols,
            url: "/BaseManagement/BarcodeInfo_FindByPage"
        };

        PageListObj.getQueryParms = function () {
            return getQueryParms();
        }

        PageListObj.init();
    }

    function getQueryParms() {
        return {
            Barcode: $.trim($("#Q_Barcode").val()),
            PackSN: $.trim($("#Q_PackSN").val()),
            CreatedTimeStart: $("#Q_CreatedTimeStart").datebox("getValue"),
            CreatedTimeEnd: $("#Q_CreatedTimeEnd").datebox("getValue")
        };
    }

  
    //导入样品
    function importData() {
        var url = '@Url.Action("ImportExcel", "Common")' + "?BusinessType=BarcodeInfo&rnd=" + Math.random();
        art.dialog.open(url, { title: '导入条码信息', height: 420, width: 650 }, false);
    }

    function onImportSucc() {
        $('#dgList').datagrid('load');
        //$('#dgData').datagrid('reload'); //刷新当前页列表
    }

    </script>
