@{
    ViewBag.Title = "流程人员配置";
    Layout = "~/Views/Shared/_Layout_Non.cshtml";
}

<style type="text/css">
    #divForm .tbForm td {
        padding-left: 5px;
        padding-top:5px;
    }

</style>

<div class="easyui-layout" fit="true">
    <div region="center">
        <div id="dgList"></div>
    </div>
</div>
<div id="divQuery" style="padding:5px;height:auto">
    <table id="tbQuery">
        <tr>
            <td>
               操作人：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_OptUserName" style="width: 120px;" />
            </td>
            <td style="padding-left:10px; padding-bottom:5px" colspan="2">
                <a id="btnQuery" class="easyui-linkbutton" iconcls="icon-search">查询</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">新增</a>
                <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>
                <a id="btnDelete" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">删除</a>
                @*<a id="btnExport" class="easyui-linkbutton" iconcls="icon-excel" plain="true">导出</a>*@
            </td>
        </tr>
    </table>
</div>
<div id="divForm" class="easyui-window" closed="true" modal="true"
     title="流程人员配置" style="width: 450px; height: 250px;display: none;" collapsible="false" minimizable="false"
     maximizable="false">
    <table id="tbForm" class="tbForm">
        <tr>
            <td colspan="3">
                <a id="btnOk" class="easyui-linkbutton" iconcls="icon-ok" plain="true">确定</a>
                <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">关闭</a>
                <input class="easyui-textbox" id="E_ID" type="hidden" clearflag="0" />
            </td>
        </tr>
        <tr>
            <td class="form-head">
                <span class="sp-require">*</span>业务类型：
            </td>
            <td>
                <input type="text" class="easyui-combobox" id="E_BusinessType"
                       data-options="valueField:'Value', textField:'Text',editable : false" />
            </td>
        </tr>
        <tr>

            <td class="form-head">
                <span class="sp-require">*</span>操作人员：
            </td>
            <td>
                <input class="easyui-textbox" id="E_OptUserName" />
                <input type="hidden" id="E_OptUserID" />
                <img id="btnShowUser" class="select-icon" src="/images/select_icon.png" title="点击选择人员" />
            </td>
        </tr>

        <tr>
            <td class="form-head">
                顺序号：
            </td>
            <td>
                <input class="easyui-textbox" id="E_SortNo">
            </td>
        </tr>
    </table>
</div>

<script src="/Scripts/Common/common_search.js?v=4"></script>
<script type="text/javascript">
    var _divFormName = "divForm";
    var _formName = "tbForm";
    var _OptType = 0;
    $(document).ready(function () {       
        $("#btnQuery").click(function () {      
            PageListObj.queryList();
        })
        $("#btnAdd").click(function () { showForm(1); })
        $("#btnEdit").click(function () { showForm(2); })
        $("#btnDelete").click(function () { deleteRecord(); })
        $("#btnOk").click(function () { saveForm(); })
        $("#btnClose").click(function () { FormUitl.close(_divFormName); })
        $("#btnShowUser").click(function () { showWinUser(); })
        
        common_bindCommonCombox("E_BusinessType", { headerType: 0, statusType: "FlowBusinessType" });

        initGrid();
    });

    //初始化Grid
    function initGrid() {
        var cols = [[
               { field: 'ID', title: 'ID', width: 1, align: 'center', hidden: true },
               { field: 'Show_BusinessType', title: '业务类型', width: 160, align: 'center' },
               { field: 'OptUserName', title: '操作人员', width: 160, align: 'center' },
               { field: 'SortNo', title: '顺序号', width: 80, align: 'center' },
               { field: 'Creater', title: '创建人', width: 100, align: 'center' },
               { field: 'Show_CreatedTime', title: '创建时间', width: 150, align: 'center' }
        ]];

        //设置动态列
        PageListObj.GridProperties = {
            columns: cols,
            url: "/BaseManagement/FlowConfig_FindByPage"
        };

        PageListObj.getQueryParms = function () {
            return getQueryParms();
        }

        PageListObj.init();
    }
    function getQueryParms() {
        return {
            OptUserName: $.trim($("#Q_OptUserName").val()),
        };
    }

    //关闭弹出iframe窗口
    function closeIframeForm(data, typeName) {
        if (typeName == "user") {
            $('#ifmUserDiv').dialog("close");
            $("#E_OptUserID").val(data.ID);
            $("#E_OptUserName").val(data.UserName);
        }
    }
  
    function showForm(optType) {
        //1.清理窗体数据
        FormUitl.reset(_formName);
        $("#E_ID").val("");
       
        //2.加载窗体数据
        if (optType == 2) { //修改
            var row = DataGridUitl.getSelectedRow("dgList");
            if (!row) return;

            $("#E_ID").val(row.ID);
            $("#E_OptUserID").val(row.OptUserID);
            $("#E_OptUserName").val(row.OptUserName);
            $("#E_SortNo").val(row.SortNo);
            $("#E_BusinessType").combobox("setValue", row.BusinessType);
        }

        //3.显示窗体
        $('#' + _divFormName).show();
        FormUitl.open(_divFormName);
        _OptType = optType;
    }

    //保存记录
    function saveForm() {
        var data = FormUitl.getFormData(_formName);   
        data.OptType = _OptType;
        doPostAjaxRequest("/BaseManagement/FlowConfig_Save", data, function (msg) {
            if (!msg.IsSuccess) {
                $.messager.alert('提示', msg.Message, "info");
                return;
            }
            $.messager.alert('提示', '操作成功！', "info", function () {
                $('#dgList').datagrid('reload'); //刷新列表
            });
        });
    }

    //删除记录
    function deleteRecord() {
        var row = DataGridUitl.getSelectedRow("dgList");
        if (!row) return;

        var data = { ids: row.ID };
        $.messager.confirm("提示", "确定删除该数据吗？", function (isOK) {
            if (!isOK) return;

            doPostAjaxRequest("/BaseManagement/FlowConfig_Delete", data, function (msg) {
                if (!msg.IsSuccess) {
                    $.messager.alert('提示', msg.Message, "info");
                    return;
                }

                $.messager.alert('提示', '操作成功！', "info", function () {
                    $('#dgList').datagrid('load');
                });
            });
        });
    }

    </script>
