@{
    ViewBag.Title = "员工管理";
    Layout = "~/Views/Shared/_Layout_Non.cshtml";
}

<style type="text/css">
    #divForm .tbForm td {
        padding-left: 5px;
        padding-top:5px;
    }

    .float-tree {
        position: absolute;
        display: none;
        z-index: 9999;
        border: 1px solid #808080;
        background-color: #DDDDDD;
        /*height:220px;*/
    }

    .tree-ok {
        height: 5px;
        font-size: 10px;
        cursor: pointer;
        text-align: right;
        padding-right: 20px;
        padding-top:5px;
    }

    .tree-close {
        text-align: right;
        padding-right: 10px;
        height: 5px;
        font-size: 10px;
        cursor: pointer;
    }

</style>

<div class="easyui-layout" fit="true">
    <div region="center">
        <div id="dgList"></div>
    </div>
</div>
<div id="divQuery" style="padding:5px;height:auto">
    <table id="tbQuery">
        <tr>
            <td>
                员工工号：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_EmpNo" style="width: 150px;" />
            </td>
            <td>
                员工姓名：<input class="easyui-textbox" id="Q_EmpName" style="width: 150px;" />
            </td>
            <td style="padding-left:10px; padding-bottom:5px" colspan="2">
                <a id="btnQuery" class="easyui-linkbutton" iconcls="icon-search">查询</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">新增</a>
                <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>
                <a id="btnDelete" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">删除</a>
            </td>
        </tr>
    </table>
</div>
<div id="divForm" class="easyui-window" closed="true" modal="true"
     title="员工信息" style="width: 600px; height: 370px;display: none;" collapsible="false" minimizable="false"
     maximizable="false">
        <table id="tbForm" class="tbForm">
            <tr>
                <td colspan="6">
                    <a id="btnOk" class="easyui-linkbutton" iconcls="icon-ok" plain="true">确定</a>
                    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">关闭</a>
                    <input class="easyui-textbox" id="E_ID" type="hidden" clearflag="0" />
                </td>
            </tr>
            <tr>
                <td class="form-head">
                    <span class="sp-require">*</span>员工工号：
                </td>
                <td><input class="easyui-textbox" id="E_EmpNo" /></td>
                <td class="form-head">
                    <span class="sp-require">*</span>员工姓名：
                </td>
                <td><input class="easyui-textbox" id="E_EmpName" /></td>
            </tr>
            <tr>
               
            </tr>
            <tr>
                <td class="form-head">
                    <span class="sp-require">*</span>所在部门：
                </td>
                <td>
                    <input class="easyui-textbox" id="E_OrgName" />
                    <input id="E_OrgID" type="hidden" />
                    <img id="btnShowOrg" class="select-icon" src="/images/select_icon.png" title="点击选择部门" />
                    <div id="divTreeOrg" class="float-tree">
                        <div class="tree-ok">
                            <a title="点击关闭窗口" id="btnTreeClose">关闭</a>
                        </div>
                        <ul id="treeOrg" class="ztree" style="height: 210px; overflow: auto;"></ul>
                    </div>
                </td>
                <td class="form-head">
                    <span class="sp-require">*</span>岗位名称：
                </td>
                <td><input class="easyui-textbox" id="E_PostCode" /></td>
            </tr>
            <tr>
                <td class="form-head">
                    工艺范围：
                </td>
                <td colspan="3">
                    <input class="easyui-textbox" id="E_ProcessNameList" style="width:350px;" />
                    <input id="E_ProcessList" type="hidden" />
                    <img id="btnShowProcess" class="select-icon" src="/images/select_icon.png" title="点击选择工艺" />
                    <div id="divTreeProcess" class="float-tree" style="width:280px;">
                        <div class="tree-ok">
                            <a title="点击确定" id="btnTreeProcessOK">确定</a>&nbsp;
                            <a title="点击关闭窗口" id="btnTreeProcessClose">关闭</a>
                        </div>
                        <ul id="treeProcess" class="ztree" style="height: 180px; overflow:auto;"></ul>
                    </div>
                </td>
            </tr>
        </table>
</div>

<link rel="stylesheet" href="/Content/zTree_v3/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="/Content/zTree_v3/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="/Content/zTree_v3/jquery.ztree.excheck.min.js"></script>
<script src="/Scripts/Common/common_search.js?v=4"></script>
<script src="@Url.Content("~/Scripts/Common/orgtree.js?v=" + new Random().NextDouble())"></script>
<script src="@Url.Content("~/Scripts/Common/processtree.js?v=" + new Random().NextDouble())"></script>
<script type="text/javascript">
    var _divFormName = "divForm";
    var _formName = "tbForm";
    var _OptType = 0;
    $(document).ready(function () {
        $("#btnQuery").click(function () { PageListObj.queryList(); })
        $("#btnAdd").click(function () { showForm(1); })
        $("#btnEdit").click(function () { showForm(2); })
        $("#btnDelete").click(function () { deleteRecord(); })
        $("#btnOk").click(function () { saveForm(); })
        $("#btnClose").click(function () { FormUitl.close(_divFormName); })
        $("#btnShowOrg").click(function () { $("#divTreeOrg").show(); })
        $("#btnTreeClose").click(function () { $("#divTreeOrg").hide(); })
        $("#btnShowProcess").click(function () { $("#divTreeProcess").show(); })
        $("#btnTreeProcessOK").click(function () { selectProcess(); })
        $("#btnTreeProcessClose").click(function () { $("#divTreeProcess").hide(); })

        initGrid();

        initTree();

        initProcessTree();
    });

    //初始化Grid
    function initGrid() {
        var cols = [[
               { field: 'EmpNo', title: '员工工号', width: 100, align: 'center' },
               { field: 'EmpName', title: '员工姓名', width: 100, align: 'center' },
               { field: 'PostCode', title: '岗位名称', width: 120, align: 'center' },
               { field: 'OrgName', title: '所在部门', width: 120, align: 'center' },
               { field: 'ProcessNameList', title: '工序范围', width: 200, align: 'center' },
               { field: 'Creater', title: '创建人', width: 100, align: 'center' },
               { field: 'Show_CreatedTime', title: '创建时间', width: 150, align: 'center' },
        ]];

        //设置动态列
        PageListObj.GridProperties = {
            columns: cols,
            singleSelect: true,
            url: "/PersonnelManagement/EmployeeMgt_FindByPage"
        };

        PageListObj.getQueryParms = function () {
            return getQueryParms();
        }

        PageListObj.init();
    }
    function getQueryParms() {
        return {
            EmpNo: $.trim($("#Q_EmpNo").val()),
            EmpName: $.trim($("#Q_EmpName").val())
        };
    }

    //加载部门树
    function initTree() {
        var param = {
            TreeId: "treeOrg"
        };
        param.onClick = function (event, treeId, treeNode) {
            onTreeClick(event, treeId, treeNode);
        }

        loadOrgTree(param);
    }

    //树控件的节点点击事件
    function onTreeClick(event, treeId, treeNode) {
        if (!treeNode) return;

        $("#E_OrgID").val(treeNode.id);
        $("#E_OrgName").val(treeNode.name);
        $("#divTreeOrg").hide();
    }

    //加载部门树
    function initProcessTree() {
        var param = {
            TreeId: "treeProcess",
            IsCheck: 1
        };
        loadProcessTree(param);
    }

    //选择工序
    function selectProcess() {
        var treeObj = $.fn.zTree.getZTreeObj("treeProcess");
        var nodes = treeObj.getCheckedNodes(true);
        var processList = [];
        var processNameList = [];
        
        $.each(nodes, function (i, node) {
            if (node.isparent != "1") { //只记录子节点工序
                processList.push(node.id);
                processNameList.push(node.name);
            }
        });

        $("#E_ProcessList").val(processList.join(","));
        $("#E_ProcessNameList").val(processNameList.join(","));
        $("#divTreeProcess").hide();
    }
    function showForm(optType) {
        //1.清理窗体数据
        FormUitl.reset(_formName);
        $("#E_ID").val("");
        $("#E_EmpNo").removeAttr("disabled");

        //2.加载窗体数据
        if (optType == 2) { //修改
            var row = DataGridUitl.getSelectedRow("dgList");
            if (!row) return;

            $("#E_ID").val(row.ID);
            $("#E_EmpNo").val(row.EmpNo);
            $("#E_EmpName").val(row.EmpName);
            $("#E_OrgID").val(row.OrgID);
            $("#E_OrgName").val(row.OrgName);
            $("#E_PostCode").val(row.PostCode);
            $("#E_ProcessList").val(row.ProcessList);
            $("#E_ProcessNameList").val(row.ProcessNameList);

            $("#E_EmpNo").attr("disabled", "disabled");
            $("#E_OrgName").attr("disabled", "disabled");
            $("#E_ProcessNameList").attr("disabled", "disabled");
        }

        //3.显示窗体
        $('#' + _divFormName).show();
        FormUitl.open(_divFormName);
        _OptType = optType;
    }

    //保存记录
    function saveForm() {
        var data = FormUitl.getFormData(_formName);
        data.OptType = _OptType;
        doPostAjaxRequest("/PersonnelManagement/EmployeeMgt_Save", data, function (msg) {
            if (!msg.IsSuccess) {
                $.messager.alert('提示', msg.Message, "info");
                return;
            }
            $.messager.alert('提示', '操作成功！', "info", function () {
                $('#dgList').datagrid('reload'); //刷新列表
            });
        });
    }

    //删除记录
    function deleteRecord() {
        var row = DataGridUitl.getSelectedRow("dgList");
        if (!row) return;

        var data = { ID: row.ID };
        $.messager.confirm("提示", "确定删除该数据吗？", function (isOK) {
            if (!isOK) return;

            doPostAjaxRequest("/PersonnelManagement/EmployeeMgt_Delete", data, function (msg) {
                if (!msg.IsSuccess) {
                    $.messager.alert('提示', msg.Message, "info");
                    return;
                }

                $.messager.alert('提示', '操作成功！', "info", function () {
                    $('#dgList').datagrid('load');
                });
            });
        });
    }

    </script>
