@{
    ViewBag.Title = "领料单管理";
    Layout = "~/Views/Shared/_Layout_Non.cshtml";
}

<style type="text/css">
   

</style>

<div class="easyui-layout" fit="true">
    <div region="center">
        <div id="dgList"></div>
    </div>
</div>
<div id="divQuery" style="padding:5px;height:auto">
    <table id="tbQuery">
        <tr>
            <td class="td-query-title">
                领料单别：
            </td>
            <td>
                <input type="text" style="width: 120px;" class="easyui-combobox" id="Q_BillType"
                       data-options="valueField:'Value', textField:'Text',editable : false" />
            </td>
            <td class="td-query-title">
                领料单号：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_BillNo" style="width: 120px;" />
            </td>
            <td class="td-query-title">
                领料日期：
            </td>
            <td>
                <input type="text" class="easyui-datebox" id="Q_OutStockDateStart" style="width:90px;" maxlength="50" />
                ~ <input type="text" class="easyui-datebox" id="Q_OutStockDateEnd" style="width:90px;" maxlength="50" />
            </td>
        </tr>
        <tr>
            
            <td class="td-query-title">
                单据状态：
            </td>
            <td>
                <input type="text" style="width: 120px;" class="easyui-combobox" id="Q_AuditStatus"
                       data-options="valueField:'Value', textField:'Text',editable : false" />
            </td>
            <td class="td-query-title">
                领料班组：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_OrgName" style="width: 120px;" />
                <input class="easyui-textbox" id="Q_OrgID" type="hidden" style="width: 120px;" />
            </td>
            <td style="padding-left:10px; padding-bottom:5px" colspan="2">
                <a id="btnQuery" class="easyui-linkbutton" iconcls="icon-search">查询</a>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">新增</a>
                <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>
                <a id="btnDelete" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">删除</a>
                <a id="btnExport" class="easyui-linkbutton" iconcls="icon-excel" plain="true">导出</a>
            </td>
        </tr>
    </table>
</div>

<script src="/Scripts/Common/common_search.js?v=4"></script>
<script type="text/javascript">
    var _OptType = 0;
    $(document).ready(function () {
        $("#btnQuery").click(function () { PageListObj.queryList(); })
        $("#btnAdd").click(function () { showForm(1); })
        $("#btnEdit").click(function () { showForm(2); })
        $("#btnDelete").click(function () { deleteRecord(); })

        //绑定下拉框
        common_bindCommonCombox("Q_BillType", { headerType: 1, statusType: "LLBillType" });
        common_bindCommonCombox("Q_AuditStatus", { headerType: 1, statusType: "AuditEnum" });

        initGrid();
    });

    //初始化Grid
    function initGrid() {
        var cols = [[
               { field: 'Show_AuditStatus', title: '单据状态', width: 70, align: 'center' },
               { field: 'Show_BillType', title: '领料单别', width: 80, align: 'center' },
               { field: 'BillNo', title: '领料单号', width: 120, align: 'center' },
               { field: 'Show_OutStockDate', title: '领料日期', width: 90, align: 'center' },
               { field: 'OrgName', title: '领料班组', width: 120, align: 'center' },
               { field: 'OptPerson', title: '领料人', width: 80, align: 'center' },
               { field: 'TotalNum', title: '领料数量', width: 80, align: 'center' },
               { field: 'Creater', title: '创建人', width: 80, align: 'center' },
               { field: 'Show_CreatedTime', title: '创建时间', width: 120, align: 'center' }
        ]];

        //设置动态列
        PageListObj.GridProperties = {
            columns: cols,
            singleSelect: true,
            url: "/StockManagement/OutMaterialMgt_FindByPage"
        };

        PageListObj.getQueryParms = function () {
            return getQueryParms();
        }

        PageListObj.init();
    }
    function getQueryParms() {
        return {
            BillType: $("#Q_BillType").combobox("getValue"),
            BillNo: $.trim($("#Q_BillNo").val()),
            AuditStatus: $("#Q_AuditStatus").combobox("getValue"),
            SupplierName: $.trim($("#Q_SupplierName").val()),
            OutStockDateStart: $.trim($("#Q_OutStockDateStart").val()),
            OutStockDateEnd: $.trim($("#Q_OutStockDateEnd").val())
        };
    }

    function showForm(optType) {
        var id = 0;
        if (optType == 2) { //修改
            var row = DataGridUitl.getSelectedRow("dgList");
            if (!row) return;

            id = row.ID;
        }
        var url = "StockManagement/OutMaterialItemMgt?OptType=" + optType + "&ID=" + id;
        //调用common_control.js中显示tab页的方法
        showTabIframe("领料单明细", url);
    }

    function deleteRecord() {
        var row = DataGridUitl.getSelectedRow("dgList");
        if (!row) return;

        var data = { ID: row.ID };
        $.messager.confirm("提示", "确定删除该领料单吗？", function (isOK) {
            if (!isOK) return;

            doPostAjaxRequest("/StockManagement/OutMaterialMgt_Delete", data, function (msg) {
                if (!msg.IsSuccess) {
                    $.messager.alert('提示', msg.Message, "info");
                    return;
                }

                $.messager.alert('提示', '操作成功！', "info", function () {
                    $('#dgList').datagrid('load');
                });
            });
        });
    }

</script>
