@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_Layout_Non.cshtml";
}

<style type="text/css">
   

</style>

<div class="easyui-layout" fit="true">
    <div region="center">
        <div id="dgList"></div>
    </div>
</div>
<div id="divQuery" style="padding:5px;height:auto">
    <table id="tbQuery">
        <tr>
            <td class="td-query-title">
                订单单别：
            </td>
            <td>
                <input type="text" style="width: 90px;" class="easyui-combobox" id="Q_OrderType"
                       data-options="valueField:'Value', textField:'Text',editable : false" />
            </td>
            <td class="td-query-title">
                订单单号：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_OrderNo" style="width: 150px;" />
            </td>
            <td class="td-query-title">
                下单日期：
            </td>
            <td>
                <input type="text" class="easyui-datebox" id="Q_OrderDateStart" style="width:90px;" maxlength="50" />
                ~ <input type="text" class="easyui-datebox" id="Q_OrderDateEnd" style="width:90px;" maxlength="50" />
            </td>
        </tr>
        <tr>
            <td class="td-query-title">
                订单状态：
            </td>
            <td>
                <input type="text" style="width: 90px;" class="easyui-combobox" id="Q_OrderStatus"
                       data-options="valueField:'Value', textField:'Text',editable : false" />
            </td>
            <td class="td-query-title">
                客户名称：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_CustomerName" style="width: 150px;" />
            </td>
            <td class="td-query-title">
                创建日期：
            </td>
            <td>
                <input type="text" class="easyui-datebox" id="Q_CreatedTimeStart" style="width:90px;" maxlength="50" />
                ~ <input type="text" class="easyui-datebox" id="Q_CreatedTimeEnd" style="width:90px;" maxlength="50" />
            </td>
            <td style="padding-left:10px; padding-bottom:5px" colspan="2">
                <a id="btnQuery" class="easyui-linkbutton" iconcls="icon-search">查询</a>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">新增</a>
                <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>
                <a id="btnDelete" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">作废</a>
            </td>
        </tr>
    </table>
</div>

<script src="/Scripts/Common/common_search.js?v=4"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnQuery").click(function () { PageListObj.queryList(); })
        $("#btnAdd").click(function () { showForm(1); })
        $("#btnEdit").click(function () { showForm(2); })
        $("#btnDelete").click(function () { deleteRecord(); })

        //绑定下拉框
        common_bindCommonCombox("Q_OrderType", { headerType: 1, statusType: "OrderType" });
        common_bindCommonCombox("Q_OrderStatus", { headerType: 1, statusType: "OrderStatus" });

        initGrid();
    });

    //初始化Grid
    function initGrid() {
        var cols = [[
               { field: 'Show_OrderStatus', title: '订单状态', width: 80, align: 'center' },
               { field: 'Show_OrderType', title: '订单单别', width: 80, align: 'center' },
               { field: 'OrderNo', title: '订单单号', width: 120, align: 'center' },
               { field: 'Show_OrderDate', title: '下单日期', width: 120, align: 'center' },
               { field: 'OrderAmount', title: '订单金额(万)', width: 100, align: 'center' },
               { field: 'CustomerName', title: '下单客户', width: 80, align: 'center' },
               { field: 'Creater', title: '创建人', width: 80, align: 'center' },
               { field: 'Show_CreatedTime', title: '创建时间', width: 150, align: 'center' },
               { field: 'Closer', title: '关单人', width: 80, align: 'center' },
               { field: 'Show_CloseTime', title: '关单时间', width: 150, align: 'center' }
        ]];

        //设置动态列
        PageListObj.GridProperties = {
            columns: cols,
            singleSelect: true,
            url: "/PlanManagement/SaleOrderMgt_FindByPage"
        };

        PageListObj.getQueryParms = function () {
            return getQueryParms();
        }

        PageListObj.init();
    }
    function getQueryParms() {
        return {
            OrderType: $("#Q_OrderType").combobox("getValue"),
            OrderNo: $.trim($("#Q_OrderNo").val()),
            OrderDateStart: $.trim($("#Q_OrderDateStart").val()),
            OrderDateEnd: $.trim($("#Q_OrderDateEnd").val()),
            OrderStatus: $("#Q_OrderStatus").combobox("getValue"),
            CustomerName: $.trim($("#Q_CustomerName").val()),
            CreatedTimeStart: $.trim($("#Q_CreatedTimeStart").val()),
            CreatedTimeEnd: $.trim($("#Q_CreatedTimeEnd").val())
        };
    }

    function showForm(optType) {
        var id = 0;
        if (optType == 2) { //修改
            var row = DataGridUitl.getSelectedRow("dgList");
            if (!row) return;

            id = row.ID;
        }
        var url = "PlanManagement/SaleOrderItemMgt?OptType=" + optType + "&ID=" + id;
        //调用common_control.js中显示tab页的方法
        showTabIframe("订单明细", url);
    }

    //删除记录
    function deleteRecord() {
        var row = DataGridUitl.getSelectedRow("dgList");
        if (!row) return;

        var data = { ID: row.ID };
        $.messager.confirm("提示", "确定作废该订单吗？", function (isOK) {
            if (!isOK) return;

            doPostAjaxRequest("/PlanManagement/SaleOrderMgt_Delete", data, function (msg) {
                if (!msg.IsSuccess) {
                    $.messager.alert('提示', msg.Message, "info");
                    return;
                }

                $.messager.alert('提示', '操作成功！', "info", function () {
                    $('#dgList').datagrid('load');
                });
            });
        });
    }

</script>
