@{
    ViewBag.Title = "客户选择";
    Layout = "~/Views/Shared/_Layout_Non.cshtml";
}

<div class="easyui-layout" fit="true">
    <div region="center">
        <div id="dgList"></div>
    </div>
</div>
<div id="divQuery" style="padding:5px;height:auto">
    <table id="tbQuery">
        <tr>
            <td>
                客户编码：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_CustomerCode" style="width: 120px;" />
            </td>
            <td>
                客户名称：
            </td>
            <td>
                <input class="easyui-textbox" id="Q_CustomerName" style="width: 120px;" />
            </td>
            <td style="padding-left:10px; padding-bottom:5px" colspan="2">
                <a id="btnQuery" class="easyui-linkbutton" iconcls="icon-search">查询</a>
            </td>
        </tr>
    </table>
</div>

<script src="/Scripts/Common/common_search.js?v=4"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnQuery").click(function () {
            PageListObj.queryList();
        })

        initGrid();
    });

    //初始化Grid
    function initGrid() {
        var cols = [[
                {
                    field: 'Operation', title: '选择', width: 80, align: 'center',
                    formatter: function (value, row, index) {
                        return imgFormatterQuery(value, row, index);
                    }
                },
               { field: 'ID', title: 'ID', width: 100, align: 'center', hidden: true },
               { field: 'CustomerCode', title: '客户编码', width: 110, align: 'center' },
               { field: 'CustomerName', title: '客户名称', width: 150, align: 'center' },
               { field: 'Phone', title: '电话', width: 120, align: 'center' },
               { field: 'Contacter', title: '联系人', width: 80, align: 'center' },
               { field: 'PostCode', title: '邮政编码', width: 80, align: 'center' },
               { field: 'Address', title: '地址', width: 200, align: 'center' },
               //{ field: 'Memo', title: '备注', width: 160, align: 'center' },
               { field: 'Creater', title: '创建人', width: 80 },
               { field: 'Show_CreatedTime', title: '创建时间', width: 130 }
               //{ field: 'Modifier', title: '修改人', width: 80 },
               //{ field: 'Show_ModifiedTime', title: '修改时间', width: 130 }
        ]];

        //设置动态列
        PageListObj.GridProperties = {
            columns: cols,
            url: "/BaseManagement/Customer_FindByPage"
        };

        PageListObj.getQueryParms = function () {
            return getQueryParms();
        }

        PageListObj.init();
    }
    function getQueryParms() {
        return {
            CustomerCode: $.trim($("#Q_CustomerCode").val()),
            CustomerName: $.trim($("#Q_CustomerName").val()),
        };
    }

    function imgFormatterQuery(value, row, index) {
        var rvalue = "<div style='vertical-align:middle;' ><input type='button' onclick=\"selectData('[0]','[1]');\" class='btn-select-item' value='选&nbsp;择' title=\"点击确定选择\"/></div>";
        return rvalue.replace("[0]", row.ID).replace("[1]", row.CustomerName);
    }
    function selectData(id, name) { //确定选择
        var data = { CustomerID: id, CustomerName: name };
        if (parent && parent.closeIframeForm) {
            parent.closeIframeForm(data, "customer");
        }
    }

</script>
